* {
  padding: 0;
  margin: 0;
}

:root {
  --background-color: #fff;
  --text-color: #000;
}

[data-theme="dark"] {
  --background-color:#3c3c3c;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.nav-menu-enter {
  animation: slideIn 0.5s forwards;
}

.nav-menu-exit {
  animation: slideOut 0.5s forwards;

}


